@import "tailwindcss";

@theme {
  --color-primary: rgba(230,230,230,1);
  --color-background: rgba(50,50,50,1);
  --color-brand: rgba(150,100,255,1);
  --color-brand-second: rgba(179, 147, 241,1);
}
body::-webkit-scrollbar {
    display: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

.test{
  color: rgb(179, 147, 241);
  color: rgba(50,50,50,1);
  color: rgba(230,230,230,1);
}
#story-bar-slider::-webkit-scrollbar {
    display: none;
}

#story-bar-slider {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
